<h1>
    <% if (tipoDatos == "puestos") { %>
    PUESTOS
    <% } else if (tipoDatos == "empleados") { %>
    EMPLEADOS
    <% } else { %>
    VENTANA PRINCIPAL
    <% } %>
    <script>
        function deshabilitarBoton(){
            var cant = document.getElementById('cantidad').value;
            cant = Number(cant);
            if (cant == "" || (!isNaN(cant) && cant == Math.trunc(cant))){
                document.getElementById('cantBoton').disabled = false;
            }
            else{
                document.getElementById('cantBoton').disabled = true;    
            }
        }
    </script>
    <form action = "ventanaPrincipal" method = "POST">
        <div>
            <button formaction = "listarPuestos" name = "listarPuestosB">
                Listar Puestos
            </button>
            <button formaction = "listarEmpleados" name = "listarEmpleadosB">
                Listar Empleados
            </button>
        </div>
        <div>
            <input type = "text" id = "nomEmpleado" name = "nomEmpleado">
            <button formaction = "filtrarEmpleado" name = "nomEmpleadoBoton">
                Filtrar nombre
            </button>
        </div>
        </div>
        <div>
            <button formaction = "insertarEmpleado" name = "nuevoEmpleadoBoton">
                Insertar nuevo empleado
            </button>
            <button formaction = "insertarPuesto" name = "nuevoPuestoBoton">
                Insertar nuevo puesto
            </button>
            <button formaction = "salir" name = "salirBoton">
                Salir
            </button>
        </div>
        <div>
            <%=mensajeError%>
            <% if (tipoDatos == "puestos") { %>
                <div style = "font-size: large;">
                    Nombre del puesto
                </div>
                <select id = "puestosListBox" name = "puestosListBox" size = "15">
                    <% for (puesto of datos) {%>
                        <% if (puesto[0] == false) { %>
                                <option value = "<%= puesto[1].ID %>"
                                style = "font-size: large;">
                                    <%= puesto[1].Puesto %>
                                </option>
                        <% } %>
                    <% } %>
                </select>
                <div>
                    <button formaction = "editarPuesto" id = "editarPuestoB">
                        Editar
                    </button>
                    <button formaction = "eliminarPuesto" id = "eliminarPuestoB">
                        Eliminar
                    </button>
                </div>
            <% } else if (tipoDatos == "empleados") { %>
                <div style = "font-size: large;">
                    Nombre de los empleados | Puesto | Id del Tipo de Identificacion | Valor Documento de Identificacion 
                    | Fecha de nacimiento
                </div>
                <select id = "empleadosListBox" name = "empleadosListBox" size = "15">
                    <% for (empleado of datos) {%>
                        <% if (empleado[0] == false) { %>
                                <option value = 
                                "<%= empleado[1].ID %>"
                                style = "font-size: large;">
                                    <%= empleado[1].Nombre + " | " + empleado[1].Puesto + " | " +
                                    empleado[1].IdTipoIdentificacion + " | " + empleado[1].ValorDocumentoIdentificacion
                                    + " | " +  empleado[1].FechaNacimiento%>
                                </option>
                        <% } %>
                    <% } %>
                </select>
                <div>
                    <button formaction = "editarEmpleado" id = "editarEmpleadoB">
                        Editar
                    </button>
                    <button formaction = "eliminarEmpleado" id = "eliminarEmpleadoB">
                        Eliminar
                    </button>
                </div>
            <% } else {} %>
        </div>
    </form>
</h1>
